<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.twilio.verification.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify-code</servlet-name>
        <servlet-class>com.twilio.verification.servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>account</servlet-name>
        <servlet-class>com.twilio.verification.servlet.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resend-token</servlet-name>
        <servlet-class>com.twilio.verification.servlet.ResendTokenServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify-code</servlet-name>
        <url-pattern>/verify-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resend-token</servlet-name>
        <url-pattern>/resend-token</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>authentication</filter-name>
        <filter-class>com.twilio.verification.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authentication</filter-name>
        <url-pattern>/account</url-pattern>
        <url-pattern>/verify-code</url-pattern>
        <url-pattern>/resend-token</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TeeFilter</filter-name>
        <filter-class>ch.qos.logback.access.servlet.TeeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>TeeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>com.twilio.verification.logging.LoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
